<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles/main.css">
    <title>Valorant API</title>
  </head>
  <body>
    <div class="navbar">
    <img id="logo" src="/images/vector.svg" alt="logo">
    <nav>
        <ul>
          <li><a href="#">Home</a></li>
          <li><a href="#">About</a></li>
          <li><a href="#">Services</a></li>
          <li><a href="#">Contact</a></li>
        </ul>
      </nav>

    </div>


    <!-- <div class="content">
        <h1>Agents</h1>
        <ul>
            <li>
                <li><a href="#">Duelists</a></li>
                <li><a href="#">Initiators</a></li>
                <li><a href="#">Controllers</a></li>
                <li><a href="#">Sentinals</a></li>
            </li>
        </ul>
      </div> -->

      <body>
        <div class="container">
            <h1>Agent Filter</h1>
        
            <form action="/" id="form" class="form" method="POST">
              <label for="role">Choose a role</label>
              <select name="role" class="form-select" id="role">
                <option value="">All Duelist</option>
                <option value="Duelist">Duelist</option>
                <option value="Initiator">Initiator</option>
                <option value="Controller">Controller</option>
                <option value="Sentinel">Sentinel</option>
              </select>
              <button type="submit" class="form-submit">Show</button>
            </form>
        
            <section id="cards" class="cards">
              <% if (data) { %>
                <% data.forEach(agent => { %>
                  <article class="card-item">
                    <h2 class="card-activity">
                      <%= agent.displayName %>
                    </h2>
                    <img src="<%= agent.displayIcon %>" alt="" style="width: 50px; height: 50px;">
                    <div class="card-info">
                      <span class="card-type">
                        <%= agent.description %>
                      </span>
                    </div>
                  </article>
                <% }); %>
              <% } %>
        
              <% if (error) { %>
                <div id="tag-error" class="tag-error">
                  <%= error %>
                </div>
              <% } %>
            </section>


  </body>
</html>


















 